.pull-right {
  display: flex;
  justify-content: flex-end;
}

.h1 {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}

.asdhashas {
  align-content: center;
}
.asdhashas1 {
  align-content: center;
}
.asdhashas2 {
  align-content: center;
}
.asdhashas3 {
  align-content: center;
}
.asdhashas4 {
  align-content: center;
}
.asdhashas5 {
  align-content: center;
}
